.page-template-lead-form-page {
  height: 100vh;
}
.page-template-lead-form-page .addthis-smartlayers {
  display: none;
}
.page-template-lead-form-page .tm-article-content {
  position: relative;
}
@media (max-width: 900px) {
  .page-template-lead-form-page .tm-article-content {
    background-color: #5d6268;
  }
}
.page-template-lead-form-page .lead-container {
  height: 100vh;
  margin: 0 auto;
  padding: 15px;
  min-width: 320px;
  max-width: 526px;
  background-color: #5d6268;
}
.page-template-lead-form-page .lead-container .lead-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.page-template-lead-form-page .lead-container .lead-header img {
  width: 164px;
  height: 19px;
}
.page-template-lead-form-page .lead-container .lead-header a {
  color: #cdd1d9;
}
.page-template-lead-form-page .lead-container .lead-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.page-template-lead-form-page .lead-container .lead-content .lead-title {
  font-size: 34px;
  font-family: 'Lato-Light';
  font-weight: 300;
  color: white;
  text-align: center;
}
.page-template-lead-form-page .lead-container .lead-content .lead-subtitle {
  font-size: 24px;
  font-family: 'Lato-Light';
  font-weight: 300;
  color: white;
  text-align: center;
}
.page-template-lead-form-page .lead-container .lead-content .link-title {
  font-size: 16px;
  font-family: 'Lato-Light';
  color: #13c5fd;
  background-color: transparent;
  border: none;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container {
  width: 90%;
  margin-top: 20px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form {
  color: white;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-container,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-container {
  margin-bottom: 10px;
  position: relative;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-title,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-title,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .email-label {
  cursor: default;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form input {
  cursor: pointer;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .email-container {
  margin-bottom: 30px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .email-container .not-valid {
  border: solid 2px #ff7532;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .email-container .email-focus {
  border: solid 2px silver;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .email-container .lead-email-not-valid {
  font-family: "Lato-Light";
  font-weight: 700;
  color: #ff7532;
  font-size: 13px;
  line-height: 1.15;
  display: block;
  margin-top: 6px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-label,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-label,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .lead-email {
  width: 100%;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .dropdown-arrow-up {
  width: 100%;
  position: absolute;
  left: 0;
  top: 25px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .dropdown-arrow-up:after {
  content: '\f106';
  position: absolute;
  font-family: FontAwesome;
  right: 10px;
  top: 4px;
  font-size: 17px;
  font-weight: bold;
  color: #4d5156;
  text-align: center;
  vertical-align: middle;
  line-height: 14px;
  width: 14px;
  background-color: white;
  pointer-events: none;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .dropdown-arrow-down {
  width: 100%;
  position: absolute;
  left: 0;
  top: 38px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .dropdown-arrow-down:after {
  content: '\f107';
  position: absolute;
  font-family: FontAwesome;
  right: 10px;
  top: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #4d5156;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 14px;
  width: 14px;
  pointer-events: none;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  -webkit-transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1) all;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1) all;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper {
  margin-top: 40px;
  max-width: 556px;
  min-width: 320px;
  max-height: 585px;
  height: 100%;
  margin: 15px auto;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .title,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .title {
  padding: 15px 8px 15px 88px;
  color: black;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
  height: 75px;
  line-height: 75px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-close,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-close,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-close,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-close {
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  right: 20px;
  position: absolute;
  color: #17cdff;
  cursor: pointer;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-items-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-items-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-items-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-items-wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: inset 0 -4px 4px -4px rgba(0, 0, 0, 0.66);
}
@media (min-width: 900px) {
  .page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-items-wrapper,
  .page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-items-wrapper,
  .page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-items-wrapper,
  .page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-items-wrapper {
    height: 430px;
  }
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper {
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  margin: 0 15%;
  cursor: pointer;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper:hover,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper:hover,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper:hover,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper:hover {
  color: black;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper a,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper a,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper a,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper a {
  font-size: 15px;
  font-weight: 500;
  color: #61666d;
  height: 45px;
  line-height: 45px;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper a:hover,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .state-items-wrapper .option-wrapper a:hover,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .state-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper a:hover,
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .business-overlay-content .dropdown-wrapper .business-items-wrapper .option-wrapper a:hover {
  color: black;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .submit-container {
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .submit-container .lead-submit {
  background-color: #757d84;
  color: #5d6268;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 5px;
  max-width: 178px;
}
.page-template-lead-form-page .lead-container .lead-content .lead-form-container .lead-form .submit-container .submit-disable {
  cursor: default;
}
.page-template-lead-form-page .lead-container .hide {
  display: none;
}
